@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$gray: hsl(231, 11%, 63%);
$white: hsl(0, 0%, 100%);
$m-blue: hsl(213, 96%, 18%);
$alabaster: hsl(231, 100%, 99%);
$p-blue: hsl(243, 100%, 62%);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.title{
    color: $m-blue;
    margin-bottom: 10px;
}

.subtitle{
    color: $gray;
}

.btns{
    display: flex;
    justify-content: space-between;
}

button{
    cursor: pointer;
}

.btn{
    background-color: $m-blue;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    opacity: 1;
    float: right;
    margin-top: 2rem;
}

.btn:hover{
    opacity: 0.9;
}

.btn-back{
    color: $gray;
    background: none;
    border: none;
    margin-top: 2rem;
    font-weight: 500;
}

body{
    background-color: hsl(240, 5%, 96%);
}

.form-step{
    display: flex;
    background-color: $white;
    width: 810px;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 6px 10px 18px -7px rgba(0,0,0,0.25);
    margin-top: 1rem;

    .sidebar{
        background-image: url(../../../public/images/bg-sidebar-desktop.svg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 210px;
        padding: 1rem;
        height: 430px;
        border-radius: 5px;
    
        .step{
            display: flex;
            gap: 15px;
            align-items: center;
            margin-bottom: 1rem;
        
    
            .number-step{
                border-radius: 50%;
                border: 1px solid $white;
                padding: 5px 10px;
                color: $white;
                font-size: 16px;
            }
    
            .number-step.active{
                background-color: hsl(206, 94%, 87%);
                color: #000;
            }
    
            .step-description{
                text-transform: uppercase;
    
                .title-step{
                    font-size: 12px;
                    color: $gray;
                }
    
                .text-step{
                    font-size: 15px;
                    color: $white;
                }
            }
        }
    }

    .info{
        padding: 24px 60px;

        .form{
            margin-top: 2rem;
            width: 100%;

        }
    }
}